In [2]:
import pandas as pd

# Task 1

In [10]:
# Create Dataframe from a dictionary
dict_1 = {'name' : ['mahesh', 'george', 'john', 'sharaon'],
          'roll' : [1, 2, 3, 4],
          'age' : [25, 35, 45, 55]
        }
print(dict_1)

df = pd.DataFrame(dict_1)
print(df)
print("\n")

# create Dataframe from a list of dictionaries
list_1 = [{'name' : 'mahesh', 'roll' : 1, 'age' : 25 }, 
          {'name' : 'george', 'roll' : 2, 'age' : 35 }, 
          {'name' : 'john', 'roll' : 1, 'age' : 25 },
          {'name' : 'sharon', 'roll' : 4, 'age' : 55}]
print(list_1)

df = pd.DataFrame(list_1)
print(df)
print("\n")


# Load the dataset
df = pd.read_csv('messed_dataset.csv')
print(df.head())
print("\n")

{'name': ['mahesh', 'george', 'john', 'sharaon'], 'roll': [1, 2, 3, 4], 'age': [25, 35, 45, 55]}
      name  roll  age
0   mahesh     1   25
1   george     2   35
2     john     3   45
3  sharaon     4   55


[{'name': 'mahesh', 'roll': 1, 'age': 25}, {'name': 'george', 'roll': 2, 'age': 35}, {'name': 'john', 'roll': 1, 'age': 25}, {'name': 'sharon', 'roll': 4, 'age': 55}]
     name  roll  age
0  mahesh     1   25
1  george     2   35
2    john     1   25
3  sharon     4   55


                Name   Age                Email      Country    Salary  \
0            invalid  59.0  ycastro@example.org  Switzerland  44694.24
1    David Jefferson  21.0                  NaN        China       NaN
2      Jessica Reyes  34.0                  NaN          NaN  60511.62
3  Kenneth Macdonald  68.0    ewolf@example.com        Italy  84223.29
4        Julie Horne  78.0                  NaN      Ecuador  24665.13

  DateOfJoining
0    2022-09-29
1    2021-10-04
2    2022-05-24
3    2022-04-07
4    2020-06-19

# Task 2

- Viewing and Inspecting Data

In [20]:
# Display the first rows of the Dataframe
print(df.head())
print("\n")

# Display the last rows of the Dataframe
print(df.tail())
print("\n")

# Display basic statistics
print(df.describe())
print("\n")

# Display data types
print(df.info())
print("\n")

# Display the shape of the Dataframe
print(df.shape)
print("\n")

# Display the column names of the Dataframe
print(df.columns)
print("\n")

                Name   Age                Email      Country    Salary  \
0            invalid  59.0  ycastro@example.org  Switzerland  44694.24
1    David Jefferson  21.0                  NaN        China       NaN
2      Jessica Reyes  34.0                  NaN          NaN  60511.62
3  Kenneth Macdonald  68.0    ewolf@example.com        Italy  84223.29
4        Julie Horne  78.0                  NaN      Ecuador  24665.13

  DateOfJoining
0    2022-09-29
1    2021-10-04
2    2022-05-24
3    2022-04-07
4    2020-06-19


                  Name   Age                     Email            Country  \
95    Garrett Davidson  56.0        gjames@example.com    Solomon Islands
96      Elizabeth Ross  52.0  richardlewis@example.net  Equatorial Guinea
97                 NaN  72.0       brian50@example.com            Somalia
98      Patricia Singh  65.0      lramirez@example.org             Greece
99  Christopher Stokes  42.0                       NaN       South Africa

      Salary DateOfJoining
95  86227.88           NaN
96  29992.69    2020-04-08
97  90628.22    2020-04-11
98  85290.44    2020-03-18
99  20289.17    2021-09-23


           Name   Age                Email Country   Salary DateOfJoining
count        89    97                   80      86       94            79
unique       85    53                   80      76       93            79
top     invalid  76.0  ycastro@example.org  Greece  invalid    2022-09-29
freq          5     6                    1       2        2             1


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           89 non-null     object
 1   Age            97 non-null     object
 2   Email          80 non-null     object
 3   Country        86 non-null     object
 4   Salary         94 non-null     object
 5   DateOfJoining  79 non-null     object
dtypes: object(6)
memory usage: 4.8+ KB
None


(100, 6)


Index(['Name', 'Age', 'Email', 'Country', 'Salary', 'DateOfJoining'], dtype='object')

# Task 3
- Data Analysis. Analyse the data by giving the summary statistics, and more information about the data

In [6]:
# Your code goes here

# Data Visualization
- Visualize the data by using the visualization libraries

In [7]:
# Your code goes here